.button {

  --offset: 10px;
  --border-size: 2px;

  display: block;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  color: #343a40;
  text-transform: uppercase;
  letter-spacing: .25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background .8s ease;

  &:hover {
    background: rgba(100, 0, 0, .03);
  }

  &__horizontal,
  &__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform .8s ease;
    will-change: transform;

    &::before {
      content: '';
      position: absolute;
      border: inherit;
    }
  }

  &__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--vertical-offset) - var(--border-size));
      bottom: calc(var(--vertical-offset) - var(--border-size));
      left: calc(var(--vertical-offset) * -1);
      right: calc(var(--vertical-offset) * -1);
    }
  }

  &:hover &__horizontal {
    transform: scaleX(0);
  }

  &__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--horizontal-offset) * -1);
      bottom: calc(var(--horizontal-offset) * -1);
      left: calc(var(--horizontal-offset) - var(--border-size));
      right: calc(var(--horizontal-offset) - var(--border-size));
    }
  }

  &:hover &__vertical {
    transform: scaleY(0);
  }

}

.form-style-1 {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;

  li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
  }

  label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
  }

  input {
    &[type=text], &[type=date], &[type=datetime], &[type=number], &[type=search], &[type=time], &[type=url], &[type=email] {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      border: 1px solid #BEBEBE;
      padding: 7px;
      margin: 0px;
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;
    }
  }
}

textarea, select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

.form-style-1 {
  input {
    &[type=text]:focus, &[type=date]:focus, &[type=datetime]:focus, &[type=number]:focus, &[type=search]:focus, &[type=time]:focus, &[type=url]:focus, &[type=email]:focus {
      -moz-box-shadow: 0 0 8px #88D5E9;
      -webkit-box-shadow: 0 0 8px #88D5E9;
      box-shadow: 0 0 8px #88D5E9;
      border: 1px solid #88D5E9;
    }
  }

  textarea:focus, select:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
  }

  .field-divided {
    width: 49%;
  }

  .field-long, .field-select {
    width: 100%;
  }

  .field-textarea {
    height: 100px;
  }

  input {
    &[type=submit], &[type=button] {
      background: #4B99AD;
      padding: 8px 15px 8px 15px;
      border: none;
      color: #fff;
    }

    &[type=submit]:hover, &[type=button]:hover {
      background: #4691A4;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  .required {
    color: red;
  }
}

#footer-github {
  text-decoration: none;
}

//#footer {
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//  height: 2.5rem;            /* Footer height */
//}

main {
  margin-top: 55px;
  position: relative;
  min-height: 100vh;

  table {
    text-align: center;

    .actions{
      display: flex;
      justify-content: center;

      .btn {
        margin: 0 5px;
      }
    }
  }
}